[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://gitee.com/embeddedboys/FreeRTOS-Kernel
[submodule "src/lvgl"]
	path = src/lvgl
	url = https://gitee.com/embeddedboys/lvgl
	branch = release/v8.4
